/*          Text          */
body {
    font-family: Host Grotesk, sans-serif;
    text-align: center;
}
h4 {
    color: blueviolet;
}
h3 {
    color: darkslategrey;
}
.text-red {
    color: #832424;
}
.text-blue {
    color: rgb(92, 92, 151);
}
.text-yellow {
    color: rgb(13, 52, 110);
}
.list-inside{
    list-style-position: inside
}

/*         image          */
.img-size {
    width: 300;
    height: 400;
}
