body{
  text-align: center;
}
.box1{
  background-color: rgba(224, 224, 224, 0.836);
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 0px;
  padding-bottom: 2px;
}
.box2{
  width: 32%;
  height: 80px;
  margin-left: 5%;  
  background-color: aquamarine;
  float: left;
  margin-right: 2px;
  margin-left: 5%;
}
.box3{
  width: 21%;
  height: 80px;
  background-color: aquamarine;
  float: left;
  margin-right: 2px;
}
.box4{
  width: 36%;
  height: 80px;
  background-color: aquamarine;
  float: left;
  margin-left: 0%;
  margin-right: 5%;
}